*{
    margin: 0;
    height:;
    box-sizing: border-box;
    }
    .container{
        height: 100vh;
        width: 100%;
        background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ad);
        background-size: 300% 300%;
        animation: color 12s ease-in-out infinite;
    }
    @keyframes color{
        0%{
            background-position: 0 50%;
        }
        50%{
            background-position: 100% 50%;
        } 
        100%{
            background-position: 0 50%;
        }
    }
    .center-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    .button {
        border: 10px solid #5b7be6;
        background-color: #ffffff;
        color: rgb(49, 159, 255);
    }